
.navbar {
    padding: 1rem 0;
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.2rem;
}


.container {
    text-align: center;
    margin-top: 50px;
}

.container h1 {
    font-size: 3rem;
}

.container p {
    font-size: 1.2rem;
}
